.fi-refresh {
  font-size: 25px;
  color: black;
  margin-left: 10px;
}

.fi-trash {
  font-size: 25px;
  display: inline-block;
  margin-left: 10px;
}

button, .button {
  padding: initial;
  background-color: lightgrey;
}