.introduction {
  height: 500px;
  border: 1px solid black;
}

.small-3.small-centered.columns {
  border: 1px solid black;
  text-align: center;
  margin-top: 200px;
  margin-bottom: 200px;
  width: 50%;
  font-family: monospace;
}

.small-4.columns.category_links {
  height: 200px;
  border:  1px solid black;
  margin-top: 25px;
}
