/*.small-3.small-centered.columns {
  border: 1px solid black;
  text-align: center;
  margin-top: 200px;
  margin-bottom: 200px;
  width: 50%;
  font-family: monospace;
}*/

.quantity-input>input {
  display: inline-block;
  width: 60px;
}

.medium-12.jumbotron {
  margin-bottom: 5%;
}

.cat_name {
  display: none;
  position: absolute;
  top: 40%;
  left: 30%;
  font-size: 30px;
  font-weight: bold;
}

.image_rapper {
  position: relative;
}
