$size: 25px;
$georgia-font: Georgia, serif;

a {
  color: black;
  line-height: inherit;
  text-decoration: none;
  &:hover {
    color: orange;
  }
}

.logo-text-link {
  font-family: 'Lily Script One', cursive;
  font-size: 1.7em;
}

.hidden_input_field {
  display: none;
}

.row {
  text-align: center;
}

/* admin sass */

a.admin-logo {
  color: orange;
  font-weight: bold;
  font-size: 1.7em;
}

a.button.round.tiny {
  margin-top: 5%;
  background-color: orange;
}

/* Flash Alerts */

.alert-box {
  top: 40px;
  text-align: center;
}

.alert-box.success {
  background-color: orange;
  border-color: orange;
}

.flash-puppies {
  z-index: 3;
  position: absolute;
  width: 80%;
  margin-left: 10%;
}

/* upload file buttons */

#item_image, #item_category_image {
  padding: 10px;
  margin-left: 30%;
  margin-top: 10px;
}

/* tool-tips */

.tooltip.radius {
  background-color: seashell;
  color: black;
  opacity: 0.9;
  border: 3px dotted orange;
}

/* order index page */

h3 {
  margin-top: 5%;
  text-align: center;
  font-family: $georgia-font;
}

/* category-show-page */

.card-section {
  border-bottom: 1px solid orange;
  border-radius: 5%;
}

p {
  font-family: $georgia-font;
  height: 12em;
  overflow: scroll;
}

h6 {
  font-family: $georgia-font;
}

.card.medium-3.columns {
  text-align: center;
}

.medium-3.columns {
  margin-top: 5%;
}

select#quantity {
  width: initial;
}

/* scroll bars */

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}


/*category-index-page*/

.quantity-input>input {
  display: inline-block;
  width: 60px;
}

.text_title {
  // display: none;
  position: absolute;
  top: 40%;
  width: 90%;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}

.category_title_text {
  color: white;
  text-shadow: -3px 3px 0 black;
}

img.cat_image, img.item_image {
  height: 213px;
  opacity: .9;
}

.column + .column:last-child,
.columns + .column:last-child, .column +
.columns:last-child,
.columns +
.columns:last-child {
  float: left;
}

.medium-4.columns.image_rapper {
  margin-top: 1%;
  margin-bottom: 1%;
}

img.medium-12.columns.show.for.small {
  opacity: .9;
  border-radius: 3%;
  height: 60vh;
}

/*nav-bar*/

ul.inline-list {
  font-family: 'Lily Script One', cursive;
}

.inline-list.right {
  display: inline-block;
  margin-top: 2%;
  margin-bottom: 0px;
}

.row.navbar {
  border-bottom: 2px solid orange;
  border-bottom-style: dotted;
  margin-bottom: 1%;
}

.row.admin.navbar {
  text-align: center;
  background-color: black;
}

#apple-icon {
  margin-top: 5%;
}

/* buttons and icons */

.fi-shopping-cart {
  font-size: larger;
}

.fi-refresh {
  font-size: 25px;
  color: black;
  margin-left: 10px;
  &:hover {
    color: orange;
  }
}

.fi-trash {
  font-size: 25px;
  display: inline-block;
  margin-left: 10px;
}

/* buttons */

button.refresh-icon {
    background-color: white;
}

button, .button {
  padding: initial;
  background-color: orange;
  outline: 0;
  &:hover {
    color: black;
    background-color: white;
  }
}

/*order*/

a.order-title {
  text-align: center;
  &:hover {
    color: orange;
  }
}

.pay-link {
  text-align: center;
}

/* Modals */

form {
  margin-left: auto;
  margin-right: auto;
}

#RegisterModal, #LoginModal, #Update-item, #NotificationModal {
  text-align: center;
}

.reveal-modal {
  text-align: center;
}

/* Modals */
input.small.radius.success.button {
  background-color: orange;
}

/* BANNER */

#banner-image {
  background-image: image-url("giv-rasberries.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-position: center;
  height: 60vh;
  max-width: 100%;
  opacity: .9;
}

@media only screen and (min-width: 1000px) {
  #RegisterModal, #LoginModal, #AdminAddsItemModal, #Update-item, #NotificationModal {
    width: 40%;
    form {
      width: 70%;
    }
    button {
      background-color: orange;
    }
  }
}

/* Mobile */
@media only screen and (max-width: 800px) {
  #banner-image {
    background-image: image-url("giv-rasberries-mobile.jpg");
    background-position: center;
  }

  .logo-text-link {
    font-size: 1.3em;
  }

  #apple-icon {
    margin-top: 0;
  }

  .inline-list.right {
    font-size: large;
  }

  .left, .right {
    float: none !important;
  }

  .fi-trash {
    font-size: medium;
  }

  a.order-title {
    margin-right: 5%;
  }
}
