$size: 25px;

a {
  color: black;
  line-height: inherit;
  text-decoration: none;
  &:hover {
    color: orange;
  }
}

h3 {
  margin-top: 5%;
  text-align: center;
}

a.admin-logo {
  color: orange;
  font-weight: bold;
  font-size: 1.7em;
}

.medium-4.columns.image_rapper {
  margin-top: 5%;
  margin-bottom: 5%;
}

.medium-3.columns {
  margin-top: 5%;
}

.reveal-modal {
  text-align: center;
}

a.button.round.tiny {
  margin-top: 5%;
  margin-left: 35%;
  background-color: orange;
}

.alert-box {
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
}

.logo-text-link {
  font-family: 'Lily Script One', cursive;
  font-size: 1.7em;
}

.hidden_input_field {
  display: none;
}

/* category-show-page */

.card-section {
  border-bottom: 1px solid orange;
  border-radius: 5%;
}

.card.medium-3.columns {
  text-align: center;
}

select#quantity {
  width: initial;
}

/*category-index-page*/

.quantity-input>input {
  display: inline-block;
  width: 60px;
}

.text_title {
  display: none;
  position: absolute;
  top: 40%;
  width: 90%;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}

img.cat_image, img.item_image {
  height: 213px;
  width: 100%;
}

.column + .column:last-child,
.columns + .column:last-child, .column +
.columns:last-child,
.columns +
.columns:last-child {
  float: left;
}

/*nav-bar*/

ul.inline-list {
  font-family: 'Lily Script One', cursive;
}

.inline-list.right {
  display: inline-block;
  margin-top: 1%;
}

.row.navbar {
  border-bottom: 2px solid orange;
  border-bottom-style: dotted;
  margin-bottom: 1%;
}

.row.admin.navbar {
  text-align: center;
  background-color: black;
}

/* buttons and icons */

.fi-shopping-cart {
  font-size: larger;
}

.fi-refresh {
  font-size: 25px;
  color: black;
  margin-left: 10px;
  &:hover {
    color: orange;
  }
}

.fi-trash {
  font-size: 25px;
  display: inline-block;
  margin-left: 10px;
}

/* buttons */

button.refresh-icon {
    background-color: white;
}

button, .button {
  padding: initial;
  background-color: orange;
  outline: 0;
  &:hover {
    color: black;
    background-color: white;
  }
}

/*order*/

a.order-title {
  text-align: center;
  &:hover {
    color: orange;
  }
}

.pay-link {
  text-align: center;
}

/* Modals */

form {
  margin-left: auto;
  margin-right: auto;
}

#registerModal, #loginModal {
  text-align: center;
}


/* Modals */
input.small.radius.success.button {
  background-color: orange;
}

@media only screen and (min-width: 1000px) {
  #RegisterModal, #LoginModal, #AdminAddsItemModal {
    width: 40%;
    form {
      width: 70%;
    }
    button {
      background-color: orange;
    }
  }
}

/* Mobile */
@media only screen and (min-width: 800px) {
  #RegisterModal, #LoginModal {
  }
}