.top-bar {
  background-color: grey;
}

.top-bar .title-area .name h1 a {
  color: black;
  /*transform: rotate(-7deg);*/
}

.top-bar-section li:not(.has-form) a:not(.button) {
  background-color: grey;
}

.top-bar-section ul li > a {
  color: black;
}