<div class="small-12 columns introduction">
<!-- <img src="http://placehold.it/1000x400&text=[ img 1 ]"/> -->
  <div class="small-3 small-centered columns">Nutrition For Those That Need It Most</div>
</div>

<% @categories.each do |category| %>
  <div class="small-4 columns category_links">
    <%= link_to category.name, category_path(category.id) %>
  </div>
<% end %>

