<div class="row introduction">

</div>

<div class="small-4 columns">
  <input type="text" placeholder="Fruits">
</div>
<div class="small-4 columns">
  <input type="text" placeholder="Vegitables">
</div>
<div class="small-4 columns">
  <input type="text" placeholder="Mix">
</div>