<div class="small-3 columns">
  <input type="text" placeholder="Find Stuff">
</div>
<div class="small-3 columns">
  <input type="text" placeholder="Find Stuff">
</div>
<div class="small-3 columns">
  <input type="text" placeholder="Find Stuff">
</div>
<div class="small-3 columns">
  <input type="text" placeholder="Find Stuff">
</div>