<div class="row">
  <div class="medium-12 columns">
    <div class="row">
      <%= image_tag("give-rasberries.jpg", class: "medium-12 columns show for small") %>
    </div>
  </div>
</div>

<div class="row">
  <% @categories.each do |category| %>
    <% if category.items.any? { |item| item.available? } %>
      <div class="medium-4 columns image_rapper">
        <%= image_tag(category.image.url, class: "cat_image") %>

        <div class="text_title"><%= link_to category.name, category_path(category.id) %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>