<div class="row">
  <div class="medium-12 columns">
    <div class="row">
      <div class="medium-12 jumbotron">
        <%= image_tag("give-rasberries.jpg") %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <% @categories.each do |category| %>
    <% if category.items.any? { |item| item.available? } %>
      <div class="small-4 columns category_links">
        <%= image_tag(category.image.url) %>
        <%= link_to category.name, category_path(category.id) %>
      </div>
    <% end %>
  <% end %>
</div>