<div class="small-12 columns introduction">
  <div class="small-3 small-centered columns">Nutrition For Those That Need It Most</div>
</div>

<div class="small-4 columns">
  <input type="text" placeholder="Fruits">
</div>
<div class="small-4 columns">
  <input type="text" placeholder="Vegitables">
</div>
<div class="small-4 columns">
  <input type="text" placeholder="Mix">
</div>