<div class="row">
  <div class="medium-12 columns">
    <div class="row">
      <div class="medium-12 jumbotron">
        <%= image_tag("give-rasberries.jpg") %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <% @categories.each do |category| %>
    <% if category.items.any? { |item| item.available? } %>
      <div class="small-4 columns">

        <%= link_to category_path(category.id) do %>
          <%= image_tag(category.image.url, class: "category_image") %>
          <div id="category_name"><%= category.name %></div>
        <% end %>

      </div>
    <% end %>
  <% end %>
</div>