<h6>
  Fruits For Humanity started out innocently enough as a skill building Rails project,
  turned non-profit philanthropic idea, and is now just my digital art board.
  The idea behind this venture is to donate ALL profits to a charity of your choice.
  So you get to be awesome in 2 ways: buying something beatifullly delicious for a friend or
  loved one and knowing that your proceeds will end up feeding people. So don't be a cheap skate, buy something.
</h6>